@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
    padding-top: 5px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  max-width: 900px;
  margin: 4em auto;
  font-family: Raleway, Arial, sans-serif;
  padding: 1em 2em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #eee;
    margin: 2em 0;
    padding: 0;
}

h1, h2 {
  margin-bottom: 1em;
  border-bottom: 2px solid #eee;
  line-height: 1.5;
}

h1 > small{
  color: #666;
}

h1 > small > a,
p > a{
  color: #3CB371;
  text-decoration: none;
}
h1 > small > a:hover,
p > a:hover{
  text-decoration: underline;
}

/* Buttons styles */
input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="submit"].btn,
button.btn {
	cursor: pointer;
}

a.btn,.btn {
  margin-right: 1em; /* remove this while use*/
  margin-bottom: 1em; /* remove this while use*/
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	font-weight: 300;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}
/* Radius */
.btn-radius {
  border-radius: 3px;
}
/* Sizes */
.btn-small {
	font-size: 0.8125em;
	padding: 0.4125em 1.25em;
}
.btn-medium {
	font-size: 0.9375em;
	padding: 0.5375em 1.375em;
}
.btn-large {
	font-size: 1.0625em;
	padding: 0.5625em 1.5em;
}

/* Colors */
.btn-green {
	color: #3CB371;
	border-color: #3CB371;
}
.btn-green:hover {
  background: #3CB371;
  color: #fff;
  border-color: #3CB371;		
}

.btn-blue {
	color: #4682B4;
	border-color: #4682B4;
}
.btn-blue:hover {
  background: #4682B4;
  color: #fff;
  border-color: #4682B4;		
}

.btn-orange {
	color: #FF8C00;
	border-color: #FF8C00;
}
.btn-orange:hover {
  background: #FF8C00;
  color: #fff;
  border-color: #FF8C00;		
}

.btn-red {
	color: #B22222;
	border-color: #B22222;
}
.btn-red:hover {
  background: #B22222;
  color: #fff;
  border-color: #B22222;	
}

.btn-gray {
	color: #808080;
	border-color: #808080;
}
.btn-gray:hover {
  background: #808080;
  color: #fff;
  border-color: #808080;	
}

#create_coupon:hover {
    color: white;
}
#transfer:hover{
    color: white;
}
#redeem:hover{
    color: white;
}
#refresh:hover{
    color: white;
}


/* select with CSS avatar icons */
option.avatar {
  background-repeat: no-repeat !important;
  padding-left: 20px;
}
.avatar .ui-icon {
  background-position: left top;
}

/* label */
label {
  /* Other styling.. */
  text-align: right;
  clear: both;
  float:left;
  margin-right:30px;
}

/* avatar-select */
.avatar-select {
  /* width:100%;
  float:left;    
  box-sizing: border-box; */
}

#startTime {
    margin-top: -16px;
}
#endTime {
    margin-top: -16px;
}
.ui-selectmenu-button.ui-button{
    width: 100% !important;
    
}

.parent-vertical-centralized {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .parent-horizontal-centralized {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .profile_img_align_center {
    margin-top: -5px;
  }

  td {
    font-size: 12px;
    font-family: monospace;
  }